<h3> Desenvolvimento Web 2 </h3>

<h1> Os artisas serão exibidos logo abaixo: </h1>

<%= @consulta.try(:inspect) %>
<%=link_to "Criar novo artista", new_artist_path %>
<ol>
    <% @artists.each do |artist|%>
        <li> <%= link_to artist.name , artist%> </li>
    <% end %>
</ol>
