<h3>Mostrar artistas</h3>
<br>
<fieldset>
    <b> ID: </b><%= @artist.id %> <br>
    <b> Name: </b><%= @artist.name %> <br>
    <b> Created at: </b><%= format(@artist.created_at.strftime("%d/%m/%y %H:%M")) %><br>
    <b> Updated at: </b><%= format(@artist.updated_at.strftime("%d/%m/%y %H:%M")) %><br>
    <br>
</fieldset>
