<h3>Edit Artist</h3>

<%= form_for @artist, :url => {:action => "update", :id =>@artist} do |i| %>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Name</span>
      </div>
      <%= i.text_field 'name' %>
    </div>

<%= i.submit "Save changes", class: "btn btn-primary" %>
<%= link_to "Back", "/artists", class: "btn btn-secondary"%>
<% end %>
