<h3>Edit Artist</h3>

<%= form_for @artist, :url => {:action => "update", :id =>@artist} do |i| %>

    <p> Title: <%= i.text_field 'name' %> </p>

      <%= i.submit "Save changes", class: "submit" %>

  <button type="button" class="btn btn-primary"><%= link_to "Cancel", "/artists/#{@artist.id}", class: "link" %></button>

<% end %>
