<h3>Edit Album</h3>

<%= form_for @album, :url => {:action => "update", :id =>@album} do |i| %>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Title</span>
      </div>
      <%= i.text_field 'title' %>
    </div>

<%= i.submit "Save changes", class: "btn btn-primary" %>
<%= link_to "Back", "/albums", class: "btn btn-secondary"%>
<% end %>
