<h3>Edit Album</h3>

<%= form_for @album, :url => {:action => "update", :id =>@album} do |i| %>

    <p> Title: <%= i.text_field 'title' %> </p>

    <button type="button" class="btn btn-secondary"><%= i.submit "Save changes", class: "link" %></button>
<% end %>
