#grupo{
  color: white;
}

#albumCard{
  height: 13rem;
  width: 22rem;
}

#albumTitle{
  font: Helvetica Neue;
  background-color: white;
  font-weight: bold;
  font-size: 15px;
}

#showingArtistAlbums{
  height: 120px;
}

#showingAlbumTracks{
  text-align: center;
}
